.container {
    display: grid;
    gap: 60px 0;
    grid-template-columns: 15px 1fr 15px;
    padding: 60px 0;
}
.container > .row {
    grid-column: 2/3;
    display: grid;
    gap: 30px 10px;
    grid-template-columns: repeat(12, 1fr);
}
.container > .row > .col-12 {
    grid-column: span 12;
}
.container > .row > .col-6 {
    grid-column: span 6;
}
.container > .row > .col-3 {
    grid-column: span 3;
}

.visible {
    display: inline-block;
}
.visible-flex {
    display: flex;
}
.visible-grid {
    display: grid;
}
.hidden {
    display: none;
}

@media (min-width: 576px) {
    .container {
        grid-template-columns: 1fr 540px 1fr;
    }
    .container > .row > .col-sm-12 {
        grid-column: span 12;
    }
    .container > .row > .col-sm-6 {
        grid-column: span 6;
    }
    .container > .row > .col-sm-3 {
        grid-column: span 3;
    }
    .visible-sm {
        display: inline-block;
    }
    .visible-sm-flex {
        display: flex;
    }
    .visible-sm-grid {
        display: grid;
    }
    .hidden-sm {
        display: none;
    }
}
@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 720px 1fr;
    }
    .container > .row > .col-md-12 {
        grid-column: span 12;
    }
    .container > .row > .col-md-6 {
        grid-column: span 6;
    }
    .container > .row > .col-md-3 {
        grid-column: span 3;
    }
    .visible-md {
        display: inline-block;
    }
    .visible-md-flex {
        display: flex;
    }
    .visible-md-grid {
        display: grid;
    }
    .hidden-md {
        display: none;
    }
}
@media (min-width: 992px) {
    .container {
        grid-template-columns: 1fr 960px 1fr;
    }
    .container > .row > .col-lg-12 {
        grid-column: span 12;
    }
    .container > .row > .col-lg-6 {
        grid-column: span 6;
    }
    .container > .row > .col-lg-3 {
        grid-column: span 3;
    }
    .visible-lg {
        display: inline-block;
    }
    .visible-lg-flex {
        display: flex;
    }
    .visible-lg-grid {
        display: grid;
    }
    .hidden-lg {
        display: none;
    }
}
@media (min-width: 1200px) {
    .container {
        grid-template-columns: 1fr 1140px 1fr;
    }
    .container > .row > .col-xl-12 {
        grid-column: span 12;
    }
    .container > .row > .col-xl-6 {
        grid-column: span 6;
    }
    .container > .row > .col-xl-3 {
        grid-column: span 3;
    }
    .visible-xl {
        display: inline-block;
    }
    .visible-xl-flex {
        display: flex;
    }
    .visible-xl-grid {
        display: grid;
    }
    .hidden-xl {
        display: none;
    }
}
@media (min-width: 1400px) {
    .container {
        grid-template-columns: 1fr 1320px 1fr;
    }
    .container > .row > .col-xxl-12 {
        grid-column: span 12;
    }
    .container > .row > .col-xxl-6 {
        grid-column: span 6;
    }
    .container > .row > .col-xxl-3 {
        grid-column: span 3;
    }
    .visible-xxl {
        display: inline-block;
    }
    .visible-xxl-flex {
        display: flex;
    }
    .visible-xxl-grid {
        display: grid;
    }
    .hidden-xxl {
        display: none;
    }
}
