.header,
.header > nav,
.header > nav > .link-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > .logo {
    height: 40px;
    width: auto;
}

.header nav {
    gap: 40px;
}
.header .link-list {
    gap: 20px;
    color: #000;
}
.header .link-list.account-list {
    color: var(--primary-color);
}
.header .link {
    width: max-content;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
.header .mobile-menu .link {
    color: #fff;
}
.header .link.btn {
    color: #fff;
}

.menu-icon {
    width: 40px;
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.menu-icon:hover {
    color: var(--primary-color);
}

.header > nav.mobile-menu .hamburger {
    display: none;
}
.header > nav.mobile-menu,
.header > nav.mobile-menu > .link-list {
    flex-direction: column;
    justify-content: flex-start;
}
.header > nav.mobile-menu {
    padding: 80px 40px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: clamp(200px, 70%, 350px);
    background-color: #111d;
    overflow: auto;
}
.header .close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
}
.header .close:hover {
    color: var(--primary-color);
}
