@import '../base/base.css';
@import '../base/layout.css';
@import '../3rd-party/font-awesome.min.css';
@import '../components/button.css';
@import '../components/header.css';
@import '../components/hero.css';
@import '../components/item-preview-list.css';

.rouded-square {
    --size: clamp(50px, 25vw, 350px);
    width: var(--size);
    height: var(--size);
    border-radius: 40%;
    background-color: var(--primary-color);
    position: absolute;
}
.rouded-square.small {
    --size: clamp(30px, 13vw, 150px);
}

/* Community section - START */
.world-map-container {
    overflow: hidden;
}
.world-map {
    position: relative;
}
.world-map .rouded-square:nth-of-type(1) {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-15deg);
}
.world-map .rouded-square.small:nth-of-type(2) {
    top: 0;
    left: 0;
    transform: translateX(0) rotate(-15deg);
    background-color: var(--secondary-color);
}
.world-map .rouded-square.small:nth-of-type(3) {
    top: 50px;
    right: 0;
    transform: translateX(0) rotate(15deg);
    background-color: var(--secondary-color);
}
/* Community section - END */

/* Think and decide section - START */
.think-decide .row {
}
.think-decide .item-preview-list,
.think-decide .section-description {
    margin-bottom: 1.5em;
}
.think-decide .main-think-image {
    position: relative;
    height: 100%;
}
.think-decide .main-think-image > img {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    object-position: left;
}
/* Think and decide section - END */
